.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 2px solid #304D6D;
  border-radius: 0.5rem;
  width: 100%;
  height: 26rem;
  max-width: 25rem;
  padding: 1rem;
}

.heading {
  width: 100%;
  font-size: 11pt;
}

.textInput {
  width: 100%;
  height: 2rem;
}

.authTextInput {
  height: 100%;
  width: 100%;
  padding: 0;
  border: none;
  border-bottom: 1px solid #304D6D;
}

.authTextInput:focus {
  outline: none;
  border-color: #00A6FF;
}

.submitContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.4rem;
}

.divider {
  width: 80%;
  color: black;
}
