.centeredContainer {
  height: calc(100vh - 3rem);
  display: flex;
  flex-direction: column;
}

.centerVertical {
  justify-content: center;
}

.centerHorizontal {
  align-items: center;
}

.centerBoth {
  justify-content: center;
  align-items: center;
}
